<div class="location">
    <!-- Loop at this level -->
    <a href="#">
        <div class="location">
            <div class="button">
                <div class="icon"><span class="material-symbols-outlined">more_vert</span></div>
            </div>
            <div class="top">
                <div class="text">Placeholder Location</div>
                <div class="weather">
                    <div class="image"><img src="/public/images/weather/01d.png" alt=""></div>
                    <div class="temperature">000°</div>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="feels-like">Feels like: 000°</div>
                    <div class="humidity">Humidity: 000%</div>
                    <div class="wind">Wind: 00 mph</div>
                </div>
                <div class="right">
                    <div class="high">00°</div>
                    <div class="low">00°</div>
                    <div class="time">00:00 AM</div>
                </div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="location selected">
            <div class="button">
                <div class="icon"><span class="material-symbols-outlined">more_vert</span></div>
            </div>
            <div class="top">
                <div class="text">Placeholder Location</div>
                <div class="weather">
                    <div class="image"><img src="/public/images/weather/01d.png" alt=""></div>
                    <div class="temperature">000°</div>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="feels-like">Feels like: 000°</div>
                    <div class="humidity">Humidity: 000%</div>
                    <div class="wind">Wind: 00 mph</div>
                </div>
                <div class="right">
                    <div class="high">00°</div>
                    <div class="low">00°</div>
                    <div class="time">00:00 AM</div>
                </div>
            </div>
        </div>
    </a>
</div>
