<%- include("header.ejs") -%>
<div class="content">
    <div class="header">
        <div class="search">
            <div class="icon"><span class="material-symbols-outlined">search</span></div>
            <div class="text">Search locations</div>
            <div class="icon"><span class="material-symbols-outlined">more_vert</span></div>
        </div>
    </div>
    <div class="content"></div>
</div>
<div class="desktop-secondary-content"></div>
<%- include("footer") -%>
